$sidebar-width: 500px;
$standard-border: 1px solid gray;

#App {
  overflow: auto;
  color: white;
  background: #333;

  header {
    border-bottom: $standard-border;
    padding: 1em;
    padding-top: 0;
  }

  section {
    padding: 1em;
  }

  #content {
    display: flex;
    height: 80vh;
    overflow: hidden;
    border-bottom: $standard-border;
    padding: 0;

    #sidebar {
      width: calc(#{$sidebar-width} - 1px);
      border-right: $standard-border;
      padding: 1em;

      #customNumberBits {
        width: 50px;
      }

      .floatRight {
        float: right;
      }

      .regularParityBitsContainer {
        display: flex;
      }

      .errorDetected {
        color: white;
        padding: 0.25em;
        font-weight: bold;
      }
    }

    #interactiveContainer {
      display: flex;
      flex-direction: column;
      width: calc(100% - #{$sidebar-width});
      position: relative;
      overflow: hidden;

      #clickSwapMessage {
        padding: 1em;
        border-bottom: $standard-border;
      }

      #toggleShowBinary {
        float: right;
      }

      #dataContainer {
        background: #555;
        overflow: auto;
        height: 100%;
        padding: 1em;

        #cellsContainer {
          position: relative;
        }

        #rawMessageContainer {
          border: 1px solid black;
        }
      }

      #legend {
        display: flex;
        justify-content: center;
        border-top: $standard-border;
        padding: 1em;

        .legendKey {
          .legendSquare {
            display: inline-block;
            width: 1em;
            height: 1em;
            border: 1px solid black;

            margin-top: 3px;
            margin-bottom: -3px;
          }

          &:not(:last-child) {
            padding-right: 1em;
            margin-right: 1em;
            border-right: $standard-border;
          }
        }
      }
    }
  }

  #video {
    text-align: center;
    border-bottom: $standard-border;
  }

  footer {
    padding: 0.5em;
    border-top: $standard-border;
  }

  a {
    color: #AED6F1;
    &:visited {
      color: #D2B4DE;
    }
  }
}
