.bit {
  text-align: center;
  position: absolute;
  border: 2px solid black;

  .value {
    font-size: 3em;
  }

  .bitIndex {
    position: absolute;
    bottom: -1px;
    right: -1px;
    border: 1px solid black;
  }
}
