.cell {
  text-align: center;
  position: absolute;
  border: 2px solid black;
  cursor: pointer;

  .value {
    font-size: 3em;
  }

  .bitIndex {
    position: absolute;
    bottom: -1px;
    right: -1px;
    border: 1px solid black;
  }
}

.messageBit {
  font-weight: bold;
  width: 1em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
