.bit {
  text-align: center;
  transition: 0.5s;
  transition-property: transform;
  cursor: pointer;

  &:active {
    transform: scale(0.8);
  }
}


.cell {
  position: absolute;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .value {
    font-size: 3em;
  }

  .bitIndex {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.1em;
    color: gray;
  }
}

.messageBit {
  font-weight: bold;
  width: 1em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.zeroBit {
  background-color: gray;
}
.errorBit {
  background-color: red;

  .bitIndex {
    color: #444;
  }
}
.parityBit {
  background-color: #82E0AA;
}
.mousedOver {
  background-color: #ddd;
}

.opacityDimmed {
  opacity: 0.1;
}
